.mainComponent{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.downloadButton{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ff5b00;
    padding: 8px 15px;
    font-weight: 600;
    float: right;
}